body {
    background-color: rgba(41, 211, 241, 0.678);
    

        .cabecalho{
            background-color: aqua;
            font-size: 100px;
            box-sizing: border-box;
            color: black;
                }
            }