* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, sans-serif;
    background-color: rgba(127, 255, 212, 0.836);
    color :rgb(6, 119, 110);
    line-height: 1,5 ;
    
}